{% extends "base.html" %}
{% block content %}
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Talbe ID</th>
      <th scope="col">Capacity</th>
      <th scope="col">isOutdoor</th>
      <th scope="col">isBooth</th>
      <th scope="col">available</th>
    </tr>
  </thead>
  <tbody>
    {% for table in tables %}
        <div class="media-body">   
            <tr>
              <td>{{ table.tableId }}</td>
              <td>{{ table.capacity }}</td>
              <td>{{ table.isOutdoor }}</td>
              <td>{{ table.isBooth }}</td>
              <td>{{ table.isCurAvailable }}</td>
            </tr>
          </tbody>
        </div>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}
